/* summary
    #app

    NAVBAR

    .navbar
    .navbar-header

    .navbar-edit-table 
    .navbar-edit-table-button
    .navbar-edit-table-button:hover
    .navbar-edit-table-button:active
    
    .navbar-edit-table-dropdown
    .navbar-edit-table-dropdown-button
    .navbar-edit-table-dropdown-button:hover
    .navbar-edit-table-dropdown-button:active
    .navbar-edit-table-dropdown-pic

    .navbar-search
    .navbar-search-input

    

    TABLE
    
    .table

    .sort-column-button
    .sort-column-button:hover
    .sort-column-button-upper-border
    .sort-column-button-bottom-border
    .sort-column-button-wrapping

    .table-element
    .table-element-border
    .table-element-wrapping

    .bottom-total-amount
    

*/


#app {
    border:rgb(204, 198, 198) 1px solid;
}

/*Navbar*/

.navbar {
    display: grid;
    grid-template-columns: repeat(3, auto);

    padding-top: 0.5em;
    padding-bottom: 1em;

}

.navbar-header {
    text-align: center;
    font-size: 1.2em;
    font-weight: 700;
    padding: auto;
    padding-top: 0.2em;
}

.navbar-edit-table {
    position: relative;
}

.navbar-edit-table-button {
    position: absolute;
    right: 1em;

    width: 15em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;

    font-size: 1em;


    background-color: white;

    border: rgb(173, 172, 172) 1px solid;
}

.navbar-edit-table-button:hover {
    background-color: rgb(233, 231, 231);
}

.navbar-edit-table-button:active {
    background-color: rgb(188, 235, 141);
}



.navbar-edit-table-dropdown {
    display: grid;
    grid-template-columns: auto;
    top: 100%;
    right: 1.1em;
    width: 16.5em;

    background-color: white;
    z-index: 3;

    position: absolute;

    
}



.navbar-edit-table-dropdown-button {
    position: relative;
    
    background-color: white;
    border: rgb(71, 65, 65) 1px solid;

    padding-right: 5.5em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;

    text-align: left;
}

.navbar-edit-table-dropdown-button:hover {
    background-color: rgb(233, 231, 231);
}

.navbar-edit-table-dropdown-button:active {
    background-color: rgb(188, 235, 141);
}


.navbar-edit-table-dropdown-pic {
    height: 1.2em;
    margin-bottom: -0.2em;
}

.navbar-search {
    position: relative;
    
}

.navbar-search-input {
    padding: 0.5em;
    padding-left: 4em;
    width: 20em;
    position: absolute;
    ;
    right: 2em;
}

/* TABLE CONTENT */

.table {
    display: grid;

    position: relative;

    grid-template-columns: repeat(6, auto);
}

.sort-column-button {
    width: 100%;
    position: relative;

    background-color: rgb(255, 253, 251);

    padding-top: 0.5em;
    padding-bottom: 0.5em;

    margin-top: -1px;
    
    font-size: 1.1em;
    
    border: seashell 2px solid;
}

.sort-column-button:hover {
    border: black 2px solid;
    background-color: rgb(188, 235, 141);
}

.sort-column-button-upper-border {
    
    margin: 0;
    z-index: 1;
    height: 2px;
    background-color: black;
    
}

.sort-column-button-bottom-border {
    position: absolute;
    top: 2em;
    width: 100%;
    height: 2px;
    background-color: black;
    z-index: 2;

}

.sort-column-button-wrapping {
    z-index: 1;

    position: absolute;
    bottom: 25%;
    top: 25%;
    right: -3px;

    height: 50%;
    width: 2px;

    border-radius: 2em;
    background-color: rgb(0, 0, 0);
}

.table-element {
    position: relative;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 0.9em;
    
    background-color: white;
    
}

.table-element-border {
    position: absolute;
    margin: 0%;
    padding:0%;
    bottom: 0;
    width: 100%;
    color: rgb(204, 198, 198);
}

.table-element-wrapping {
    z-index: 1;

    position: absolute;
    bottom: 25%;
    top: 25%;
    right: -2px;

    height: 50%;
    width: 2px;

    border-radius: 2em;
    background-color: rgb(204, 198, 198);
        
}

.bottom-total-amount {
    grid-column: 1 / 7;
    text-align: end;

    padding: 0.4em;
}